[2018-10-29 18:36] HiDaN4 opened #4 "Xcode Theme"
Do mine sharing the theme for Xcode?

Regarding the framework: nice work! Definitely going to give it a try in my project.

Thanks

[2018-10-30 02:25] josejuanqm commented on #4
Hi @HiDaN4 ,

The images are generated using https://carbon.now.sh,
If you are interested in the theme I used, is the "seti" theme.

Appreciate it!

[2018-11-03 09:32] StellarKuldeep opened #5 "App crash while setting PlayerItem to Player."
First of thanks for the excellent library.

When I try to install it via pod it install with **"1.2.0"** and `VersaPlayerItem` becomes to `VPlayerItem` and when I see both files then there's only 1 line of code `public var isEncrypted: Bool = false`

when I use below code then it crash at `player.set(item: item)` line of code with below bad access error.

**`Thread 1: EXC_BAD_ACCESS (code=1, addre

[2018-11-03 16:35] josejuanqm commented on #5
Hi @StellarKuldeep ,

Thanks a lot! Appreciate it,

Have you tried cleaning the build folder? If you are seeing two files it could mean some indexing may have been there from the previous version.

Did you update the pod recently? Or is it a clean install?

Thanks!

[2018-11-04 16:33] Michael24884 commented on #5
I’m also receiving this error. There is also no VersaPlayerView

[2018-11-04 17:31] josejuanqm commented on #5
Hi @Michael24884  ,

Did you tried cleaning the build folder?

Was this a update or a clean install?

[2018-11-04 17:49] Michael24884 commented on #5
Definitely cleaned. I even uninstalled and reinstalled the pod

[2018-11-04 18:29] josejuanqm commented on #5
@Michael24884 if you are using Interface Builder, setting the Module manually to VersaPlayer fix this issue?

[2018-11-04 19:15] josejuanqm commented on #5
@StellarKuldeep , @Michael24884 ,

Found the issue and uploaded a new version. Be sure to pull the v.1.2.1 and re-setting your class name on Interface Builder.

The issue was Interface Builder not correctly setting the Module to VersaPlayer when setting VersaPlayerView as the Class in the Identity Inspector.

[2018-11-04 19:15] #5 closed

[2018-11-05 05:09] StellarKuldeep commented on #5
@josejuanqm App crash because of Module name. When I set VersaPlayer manually then it works.

Thanks for your suggestion.
You can close this question.

Again thanks for helpful library.

[2018-11-06 14:39] kalpeshjethva18 opened #6 "Unknown class VersaPlayer in Interface Builder file"
I have set to VersaPlayer to my view I am getting this issue.

[2018-11-06 16:23] josejuanqm commented on #6
Hi @kalpeshjethva18

Please see #5 ,

What version are you using?

[2018-11-06 16:23] #6 closed

[2018-11-20 09:46] hoangbossemo opened #8 "App crashed when trying to add custom controls"
Do you have any example for adding custom control?. my app throw EXC_BAD_ACCESS when clicked on custom control. Thanks for a great framework!!!

[2018-11-21 02:36] #8 closed

[2018-11-21 02:37] hoangbossemo opened #9 "Toggle fullscreen mode not fully working"
Can't not return to normal mode in fullscreen mode. pls check. Thank you

[2018-11-21 03:42] josejuanqm commented on #9
Hi @hoangbossemo ,

Is the superview of the player removed after going into fullscreen mode?

[2018-11-21 13:51] kristoff2016 opened #10 "How to get notification while video playing ?"
Hello thank you for your great plugin. I do love it
I tired to get progress and duration total of videos but option in list features
Please show me
thank you

[2018-11-22 01:21] josejuanqm commented on #10
Hi @kristoff2016 ,

VersaPlayerView has a playbackDelegate where you can get this information.

here's the link to the documentation:
https://josejuanqm.github.io/Libraries-Documentation/VersaPlayerCore/Classes/VersaPlayerView.html#/s:24VersaPlayeriOSDocProject0A10PlayerViewC16playbackDelegateAA0ae8PlaybackH0_pSgvp

[2018-11-23 01:46] kristoff2016 commented on #10
Hello, again
[code]
Delegate is not working. did I miss something or config somewhere ? Please help thank you so much again!

[2018-11-23 12:58] kristoff2016 commented on #10
Delegate is not listen Please help thank you

[2018-11-23 13:46] kristoff2016 commented on #10
If you have example in programming it really good

[2018-11-23 15:52] josejuanqm commented on #10
Hi @kristoff2016 ,

What platform are you using?
You have a typo in your delegate, it shoud say “player: VersaPlayer)” but says, “layer: VersaPlayer)”.

Also, what version are you using?

Thanks!

[2018-11-24 01:17] kristoff2016 commented on #10
Hello there!
Currently, I Using VersaPlayer (2.1.3)
Make videos play

[code]
[code]

I am building ios app

thank you so much

[2018-11-24 01:24] kristoff2016 commented on #10
I also updated to VersaPlayer 2.1.4

[2018-11-24 01:39] kristoff2016 commented on #10
It's working now by just added  `playerView.playbackDelegate = self`
Thank you again. but another request it would be great if we have Delegate `stateChanged`
to controller isPlaying or Pause thank you

[2018-11-25 10:44] kristoff2016 opened #11 "[Sound]: There is small issue about sound video"
Hi there,
There is small issue while video is `Buffering` the sound does not pause it is still keep hearing about it.

Thank you

[2018-11-28 05:28] josejuanqm commented on #11
Hi @kristoff2016 ,

can you share the url you are using?

[2018-12-10 07:24] hemangshah commented on #9
@hoangbossemo - When you open an issue please always try to add as much information as possible so it may help the developer and contributors to understand the issue. You can also add screenshots, links to a video (describing the problem), or any content which you think you should share to help the developer and contributors to find a solution for you as quick as possible.

With this always try to

[2018-12-10 18:55] fiftysoft opened #12 "Video Controls not showing"
Hi everyone, @josejuanqm

why video control not showing just video playing and no play or pause or seek bar ?

this is my code its same as example:

[code]

do i miss something ? show i enable or do more to show video controls ?

[2018-12-16 16:41] danibachar commented on #12
As far as I checked there is not default UI implementation for the Controls View.
I’m just about to finish such one, in a project I’m working on, and hope to PR it  to here.

[2018-12-18 01:45] josejuanqm commented on #10
Thanks @kristoff2016 will keep this in mind for the next release!

[2018-12-18 01:45] #10 closed

[2018-12-18 01:45] josejuanqm commented on #11
Closing due to inactivity

[2018-12-18 01:45] #11 closed

[2018-12-18 11:47] HuseyinVural opened #14 "How to embedding a multiple video into a UITableViewCell ?"
Hello thank you for your plugin. I have a problem. I want to use multiple video players on one screen. If I try to do this, all controls are running at the same time. As a result, the UISliders moves all videos.

What's the best way for embedding a video into a UITableViewCell? I'm trying to build something sorta like Twitter/Instagram.

Thank you.

[2018-12-18 19:29] josejuanqm commented on #12
Hi @fiftysoft , there is no current default video controls, however i noticed that you have set an IBOutlet for the controls view. this view provides outlets to set your own play/pause button, slider, and so on.

Check the attributes inspector for all the available outlets

Thanks!

If this was any helpful, please close this issue.

[2018-12-18 19:30] josejuanqm commented on #9
@hemangshah thanks a ton!

really appreciate your input.
I'll work on implementing this!

[2018-12-18 19:32] josejuanqm opened #16 "Issue creation guidelines"
Define some guidelines on creating an issue and providing the information. Example - open an [issue](https://github.com/Alamofire/Alamofire/issues/new) for Alamofire.

_Originally posted by @hemangshah in https://github.com/_render_node/MDEyOklzc3VlQ29tbWVudDQ0NTcxMjI4OA==/timeline/issue_comment#issuecomment-445712288_

[2018-12-20 03:46] forTheSakeOfLogic commented on #12
The OP is referring to the code provided in the sample. This is NOT code that he wrote, this is the sample project provided here on Github and he is right, the player controls do not play by default.

[2018-12-20 12:49] forTheSakeOfLogic opened #17 "having trouble adding controls to player"
Hi everyone, got the sample project to work, but no controls. how do I add controls to the player? do I have to do that programmatically or through storyboard?

can someone show one example of at least one control.

thank you

[2018-12-20 14:19] josejuanqm commented on #12
Hi @forTheSakeOfLogic,

I understand, however the controls view provides outlets to any control supported by VersaPlayer so no more configuration is needed.

See the example project for examples.

[2018-12-20 14:19] #12 closed

[2018-12-20 14:20] josejuanqm commented on #17
Hi @forTheSakeOfLogic ,

Examples are available in the Examples folder,
Head over there to get an idea of how to create you own.

If this was any helpful please do close this issue.

[2018-12-20 14:21] forTheSakeOfLogic commented on #17
Hi @jose-quintero

I looked at the example iOS app. The controls dont show up. In a different post here, another person is having trouble with the same thing. What am I missing?

sorry for the bother.

[2018-12-20 14:24] forTheSakeOfLogic commented on #12
@jose-quintero I am looking at the example file right now, there are no attributes in the inspector pane.
<img width="1347" alt="screen shot 2018-12-20 at 9 24 05 am" src="https://user-images.githubusercontent.com/43387532/50290247-0c72ae00-0439-11e9-8cbe-7fe94bedc383.png">

[2018-12-20 14:25] josejuanqm commented on #17
No trouble at all!

Let me check the examples and check why the controls aren’t showing.

I’ll get back to you today.

[2018-12-20 14:27] forTheSakeOfLogic commented on #17
@josejuanqm thank you very much!

here are the images of what I am seeing.

<img width="1184" alt="screen shot 2018-12-20 at 9 26 39 am" src="https://user-images.githubusercontent.com/43387532/50290365-6f644500-0439-11e9-8369-82534b86b108.png">
<img width="1347" alt="screen shot 2018-12-20 at 9 24 05 am" src="https://user-images.githubusercontent.com/43387532/50290366-6f644500-0439-11e9-8807-160ef

[2018-12-21 14:43] forTheSakeOfLogic commented on #17
@josejuanqm was just wondering if you got a chance to check it out.

thnx

[2018-12-22 19:13] forTheSakeOfLogic commented on #17
@josejuanqm here is what the controls view look like in Xcode. No outlets in the attributes inspector for controls.

<img width="1561" alt="screen shot 2018-12-22 at 2 11 59 pm" src="https://user-images.githubusercontent.com/43387532/50377881-aed69100-05f3-11e9-92cb-fe17f8290a8d.png">

thnx

[2018-12-22 23:01] josejuanqm commented on #17
Hi @forTheSakeOfLogic ,

Sorry, I haven’t got time to get to this yet.

However i meant the connections inspector not the attributes inspector.

Ill try to check this today in the example project, but be sure to check the connections inpector.

[2018-12-23 02:07] forTheSakeOfLogic commented on #17
@josejuanqm I see the outlets in the connection tab. thnx, But I genuinely do not know how to use them since there is no documentation on proper use. I assume that I had to connect them to buttons I create on the control view right? I tried that, it didnt work, the buttons dont do anything. I then tried adding buttons to main VC and connected them to these outlets, well something did happen now, a

[2018-12-23 05:44] josejuanqm commented on #17
@forTheSakeOfLogic

Hey, honestly, I as open source dev do my best to maintain this repo. Being disrespectful won’t get anything done any quicker. I would appreciate it if you could be more mindful of that.

I updated the iOS example with controls added. If you ran into any trouble let me know.

[2018-12-23 06:51] forTheSakeOfLogic commented on #17
@josejuanqm I want to start off by clarifying a few things, I was not trying to be disrespectful, nor do I understand where in the above message I was disrespectful. What I was, however, frustrated, not at you, but at my own ignorance/incompetence of not figuring it out. As for you, I have nothing but the highest respect for 1. spending the time to build this great project and providing it for fre

[2018-12-23 06:51] #17 closed

[2018-12-25 12:38] HuseyinVural commented on #14
Thanks.

[2018-12-25 12:38] #14 closed

[2019-01-04 07:17] rohankanoo opened #19 "Strong type delegate"
Hey, VersaPlayerPlaybackDelegate is a strong type delegate thus preventing deinit of a ViewController from being called due to strong reference. Protocol should be class type and delegate should be weak. Can you please fix this issue at the earliest.

Thanks in advance.

[2019-01-04 17:24] josejuanqm commented on #19
Hi @rohankanoo

I merged a pr that should fix that.

Please do check again.

Thanks!

[2019-01-07 19:05] #19 closed

[2019-01-08 07:10] rohankanoo opened #20 "Optional methods in VersaPlayerPlaybackDelegate"
Hey, can you make methods of VersaPlayerPlaybackDelegate optional as we have to conform to all the methods even if we don't have to use it.
It's just a suggestion, if it is not possible due to some other reasons please let me know.

Thank you in advance.

[2019-01-08 08:02] rohankanoo opened #22 "VersaPlayerPlaybackDelegate class type"
Hey, please make VersaPlayerPlaybackDelegate of class type to avoid strong referencing. To change this please replace VersaPlayerPlaybackDelegate: AnyObject with VersaPlayerPlaybackDelegate: class

PFA fix screenshot.

![screen shot 2019-01-08 at 1 31 02 pm](https://user-images.githubusercontent.com/14327015/50817434-cc249280-1349-11e9-9f91-c829e62cd2c3.png)

Thanks

[2019-01-10 05:33] janczakb opened #23 "how to set the video as AspectFill"
how to set the video as AspectFill

[2019-01-22 21:24] josejuanqm commented on #23
Hi, you can set the aspect fill using:

[code]

[2019-02-19 21:39] frank0ch0a opened #26 "Languages"
I Did not see language control? Is there one in the player?

[2019-02-19 23:33] josejuanqm commented on #26
Hi @frank0ch0a do you mean audio tracks?

[2019-02-20 11:37] frank0ch0a commented on #26
Yes, where I can select the language of the movie

[2019-02-21 14:41] josejuanqm commented on #26
Hi

You can use the audioTracks property located at VersaPlayerItem.

Sent from my iPhone

[2019-02-25 19:16] #26 closed

[2019-02-25 19:19] josejuanqm commented on #22
Thanks!

[2019-02-25 19:19] #22 closed

[2019-02-26 07:07] rohankanoo commented on #22
@josejuanqm You are welcome..!

[2019-03-16 10:22] rohit-aq opened #28 "PiP Mode Unavailable"
How to make PiP work in iPhone? I know it's not supported but I think a library like this should implement its own PiP for within the app navigation.

[2019-03-19 04:49] rohit-aq opened #29 "Crash on Observer"
[
![Crash](https://user-images.githubusercontent.com/38911858/54580951-697a0200-4a30-11e9-8544-5f4b1d991d2d.png)
](url)

You can easily reproduce if you quickly show/close the player. For now, I am adding guard for self object but please fix it in the next version.

[2019-04-01 19:14] tarsemssw opened #30 "Terminating app due to uncaught exception 'NSInternalInconsistencyException' only on iOS 10.3.3"
Tested with a provided example by running Target VersaPlayerTest_iOS

Steps to produce the crash:
**Step 1.** Run project's target VersaPlayerTest_iOS on iOS 10.3.3 ( i used iPhone 6s)
**Step 2.** Tap on show video
**Step 3.** Tap on back button from the new view controller where the video is being played
and the app crashes!

**Note: the app is working fine on my iOS 12.1 device**

**Crash Log:**

[2019-04-03 08:49] O-mkar commented on #29
Same issue, @rohit-aq do you have a temp solution you can share?

[2019-04-03 09:01] rohit-aq commented on #29
The root cause of this issue is, the handler is deallocated before the observer was removed. I tried putting a guard condition but that doesn't help as the library gets updated every time pod is updated. I am still facing the issue.

[2019-04-03 09:46] rohit-aq commented on #29
If you are adding VersaPlayerView using Storyboard then remove it from Storyboard and add it using the code, it won't crash.

[2019-04-03 10:02] O-mkar commented on #29
Thanks, Mate let me see if it helps.

[2019-04-08 14:12] josejuanqm commented on #28
Will work on this once we have a stable (0 crashes) version. thanks!

[2019-04-08 14:14] josejuanqm commented on #29
Thank you, I'll work on this today

[2019-04-08 14:15] josejuanqm commented on #30
Thank you, will work on this once #29 is done.

[2019-04-25 19:46] ayazrafai90 opened #31 "Local video support"
Does it support to play a video from Bundle path?
If yes, then please help me to achieve that.

[2019-04-25 20:55] ayazrafai90 commented on #31
**I achieved that as with following!!**

[code]

[2019-04-25 20:55] #31 closed

[2019-04-30 14:36] tarsemssw commented on #30
@josejuanqm don't want to bother, Just want to know if is there any progress/plan for the fix?

[2019-05-07 06:37] IpareSe commented on #9
Yes I am facing this issue, once the player view enters in fullscreen mode. not able to return to superview. It does not restore the original frame.

[2019-05-13 06:19] josejuanqm commented on #9
Thanks @IpareSe I'll look into this

[2019-05-13 12:00] iTommix opened #32 "Controls on tvOS without focus"
Maybe i didn't understand well how to use the controls for the player. I have added some Buttons to the View, connected them to the Controls-Class. If i tap the touchfield on the AppleTV-Remote, the controls appears, but got no focus so you can't select or click a Button.

[2019-05-28 11:27] adaminspaceship commented on #9
I have the same problem as well

[2019-05-29 07:18] josejuanqm commented on #9
@IpareSe @adaminspaceship are you experiencing this issue with the demo project as well?

[2019-06-07 16:29] neodave opened #33 "Landscape rotate"
My app is restricted to portrait, but I would like enable rotation to landscape when in full screen mode. I have not been able to find if an override is provided here. Does VersaPlayer address this sort of thing? Great framework btw..

[2019-06-09 22:24] adaminspaceship commented on #9
No. Only in my code when I implement it in my project

[2019-06-11 08:33] openmotion opened #34 "und nil while implicitly unwrapping an Optional value 2019-06-11 10:23:33.022373+0200 Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
hello
i try to launch a simple example
but playerView is null
my activity extend UIViewController  ( built programmatically without storyboard )
i have the following error : Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value
2019-06-11 10:23:33.022373+0200xxxxx[6256:1699778] Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value

[2019-06-17 11:24] Eke commented on #33
Hello @neodave, i think you must manage rotation policy by yourself. For example you can allow rotation in view controller when player goes fullscreen.

[2019-06-18 21:35] josejuanqm commented on #32
Hmm, is the example working for you?

[2019-06-18 21:37] josejuanqm commented on #33
Hi @neodave , as @Eke points out, you need to provide your own rotation logic. VersaPlayer will only provide some help here. Basically the surface view and some other helpers.

[2019-06-18 21:37] #33 closed

[2019-06-18 21:38] josejuanqm commented on #34
Hi, can you provide the full log?, or maybe a screenshot of xcode?

[2019-06-21 15:04] mtangoo opened #35 "Can I use Carthage?"
Could not believe cocoapods have to download ~500MB only to be able to install this library. I only use Carthage for all libraries in my project. Is it possible to use carthage in addition to pods?

[2019-06-23 20:38] khunshan opened #36 "How to pass header attributes?"
You can send one using 'AVURLAssetHTTPHeaderFieldsKey' in AVPlayer. Does VersaPlayer support. If yes, how? Please guide with example.

Cheers.

[2019-06-27 16:02] #35 closed

[2019-06-29 09:14] janczakb opened #37 "how to set the video as AspectFill"
how to set the video as AspectFill

[2019-07-04 06:39] josejuanqm commented on #37
Hi @janczakb , you can refer to #23

[2019-07-04 06:51] josejuanqm commented on #36
Hi @khunshan ,

Sure!, AVPlayerItem can be initialized with a AVAsset, so you can pass a AVURLAsset configured with the proper headers.

[code]

[2019-07-04 06:51] #36 closed

[2019-07-04 07:13] josejuanqm commented on #30
@tarsemssw Should be fixed in 2.3.3 ! Thanks for the patience!

[2019-07-04 07:13] #30 closed

[2019-07-04 07:14] josejuanqm commented on #29
Should be fixed in 2.3.3, please re-open if needed.

[2019-07-04 07:14] #29 closed

[2019-07-04 07:15] josejuanqm commented on #34
Please re-open if needed. Closing due to inactivity.

[2019-07-04 07:15] #34 closed

[2019-07-04 07:15] josejuanqm commented on #32
@iTommix Please re-open if needed, Closing due to inactivity.

[2019-07-04 07:15] #32 closed

[2019-07-04 07:27] josejuanqm commented on #35
Hey, @mtangoo it should be available as of v.3.0.0 !

[2019-07-04 07:36] mtangoo commented on #35
Thank you for the answer

[2019-07-04 07:39] mtangoo commented on #35
I have unrelated request. Can you make a Youtube video on how to add Controls to Player? I tried to do it for almost a week without success. I had to temporarily abandon this and write my own ad-hoc player just to meet the deadline that had passed. Seems tricky to do!

[2019-07-04 07:48] josejuanqm commented on #35
Sure I can!, I'll try to work on it this week.

[2019-07-04 12:23] mtangoo commented on #35
Thank you!

[2019-07-04 12:40] janczakb commented on #37
@josejuanqm  Now it does not work. Using this command causes a crash

[2019-07-04 17:15] josejuanqm commented on #37
@janczakb Oh, ok. Can you post the crash log here?

I just tested on the example and seems to be working ok. But please post so that I can help.

Thanks!

[2019-07-16 14:11] RajChanchal commented on #29
It still crashes, despite updating to version 3.0.0.

![Screen Shot 2019-07-16 at 5 52 56 PM](https://user-images.githubusercontent.com/7058465/61300499-1e5fd800-a7f3-11e9-8cab-a54553812b9d.png)

As you can see in the above screenshot the 'handler' is nil

[2019-07-16 14:36] mblrdev opened #39 "Can't initialize player, please help"
Hello! When I try to initialize the player in the vc, the app crashes with this error

`Thread 1: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value`
on playerView.layer.backgroundColor = UIColor.black.cgColor

I am doing exactly everything as the example code, I literally copied it.Also tried to clone the repo and run the example player, which works, but when I crea

[2019-07-16 16:09] josejuanqm commented on #39
Hi @mblrdev ,

Can you try checking whether VersaPlayer is set as the module of the view in the Identity Inspector?

Let me know.

[2019-07-17 12:52] mblrdev commented on #39
No, should it be?

edit: tried to add it, still getting the same error

[2019-07-17 21:10] valentcheung opened #40 "IB Designables: Failed to render and update auto layout status for VersaPlayerControls (wWX-7i-SUK): Failed to launch designables agent. Check the console for a more detailed description and please file a bug report at feedbackassistant.apple.com."
Xcode version: 11 Beta 2~4

There's a build error in red for the Full Screen Controls set stating: "IB Designables: Failed to render and update auto layout status for VersaPlayerControls (wWX-7i-SUK): Failed to launch designables agent. Check the console for a more detailed description and please file a bug report at feedbackassistant.apple.com."

The Full Screen Controls set were directly copied

[2019-07-19 16:50] josejuanqm commented on #39
Could you be able to send a code sample?

That way I can help you out. let me know!

[2019-07-19 16:51] josejuanqm commented on #40
Hi, This seems to be an Xcode Issue.. I'll take a look.

[2019-07-30 15:19] mblrdev commented on #39
Fixed, turns out I didn't add the outlets..Sorry, just new to swift..

Btw the player is perfect!Also do I still need a separate pod for the airplay extension?

[2019-08-01 15:24] memoMahmmoud commented on #23
"versaPlayerView.player.renderingView.renderingLayer.playerLayer.videoGravity = newGravity"
this line is not correct, can you provide me the new line to make video aspect fill?

[2019-08-04 21:26] Michael24884 opened #41 "Controls dissapear"
If the screen is tapped, while the video is buffering the controls dissapear normally. But tapping again the controls do not appear and the video does not load. Almost as if the app has frozen

[2019-08-05 18:31] josejuanqm commented on #41
Hi,

Are you using a buffering view?
Is the same url used in the example behaving the same?

[2019-08-05 18:32] josejuanqm commented on #39
No you no longer need that :) should be good to go.

Thank you!

[2019-08-05 18:32] #39 closed

[2019-08-07 17:57] Michael24884 commented on #23
PlayerView.renderingView.playerLayer.videoGravity = .resizeAspectFill

[2019-08-13 20:48] royherma opened #42 "Caching"
Is there any caching mechanism for VersaPlay?

If so would like some tips on how to utilize it as it seems videos are always loaded no matter what.

Thanks!!

[2019-08-29 13:45] asger777 opened #43 "Unexpectedly found nil"
handler.playbackDelegate?.playbackReady(player: self)

sometimes it gives me this crash.
my apps first screen has one player, second screen has another player. when i push second and fast pop back, it gives me this crash.
![image](https://user-images.githubusercontent.com/23039633/63945602-a7ba2980-ca84-11e9-8115-d0b203f99a92.png)

[2019-09-09 02:32] dlpigpen opened #44 "It does not work with a local file."
I tried to play a local file but it does not work. Does the library support?

[code]

[2019-09-09 05:33] dlpigpen opened #45 "The player stops if the app is in the background mode"
The player will stop if we enter the app in the background mode. Although capacities of the app sets using in the bg.

[2019-09-09 10:20] Ritu0411 opened #46 "App is not working in Landscape Mode."
App is not working in Landscape Mode.

[2019-09-09 23:41] falipate opened #47 "Fullscreen from tableview cell"
Hi,

I was playing around with your library by implementing a `VersaPlayerView` embedded inside a UITableViewCell. Just wondering if you are able to point me in the right direction on how I can have a background behind the video when I have expanded it so I can block out the view behind it?

Thanks

### **Normal view**
![Screen Shot 2019-09-10 at 9 35 00 am](https://user-images.githubusercontent.c

[2019-09-11 04:30] falipate commented on #47
Figured it out that I needed to change the VersaPlayerView's layer background color
[code]

[2019-09-11 04:30] #47 closed

[2019-09-12 06:28] frozenthrone opened #48 "Gesture not working"
I add my gesture in viewDidLoad(), but it does not work till  tapping to make osd on

let swipeRight = UISwipeGestureRecognizer(target: self, action: #selector(handleGesture))
    swipeRight.direction = .right
    self.view.addGestureRecognizer(swipeRight)

[2019-09-13 06:28] josejuanqm commented on #42
At the moment caching is not available. But it is a great idea. Thanks for the input, will work on this soon.

[2019-09-13 06:31] josejuanqm commented on #43
Hi @asger777 ,

Can you pinpoint the nil variable? is it handler?

Thanks

[2019-09-13 06:33] josejuanqm commented on #44
Hi @dlpigpen ,

1. Can you share the final url used in the asset?
2. Could you try with Bundle.main.url instead of Bundle.main.path?

Thanks!

[2019-09-13 06:34] asger777 commented on #43
@josejuanqm , what means to pinpoint the nil variable ?

nil variable here is handler variable. its playerview.
and it happens when i open second screen and go back before completing installation of playerview

[2019-09-13 06:36] josejuanqm commented on #45
Hi @dlpigpen ,

Is the audio session category being set properly?

Thanks

[2019-09-13 06:37] josejuanqm commented on #43
Thanks @asger777 , will work on this.

[2019-09-13 06:37] josejuanqm commented on #46
Hi @Ritu0411 , to what app are you referring to?

[2019-09-13 06:38] josejuanqm commented on #48
hi @frozenthrone , are you using the gestureDelegate or a custom gesture? To what view are you setting this gesture to?

[2019-09-13 06:53] frozenthrone commented on #48
Hi josejuanqm
in VersaPlayerTest_iOS/ViewController, I added the following code in viewDidLoad()

[code]
and following code in class

[code]
when controls is showing ,the gesture works fine, I can hide/show the tableview. but when  controls is hidden, the gesture doesn't work at all.

[2019-09-17 23:39] ahmedMaher3 opened #49 "how to add controls to player"
@josejuanqm I want to start off by clarifying a few things, I was not trying to be disrespectful, nor do I understand where in the above message I was disrespectful. What I was, however, frustrated, not at you, but at my own ignorance/incompetence of not figuring it out. As for you, I have nothing but the highest respect for 1. spending the time to build this great project and providing it for fre

[2019-09-18 05:23] josejuanqm commented on #48
Thank you @frozenthrone ,

I'm having difficulty understanding the issue. I don't see any VersaPlayer classes involved?

Where is the player at? a row?

[2019-09-18 05:25] josejuanqm commented on #49
Hi @ahmedMaher3 , Could you please provide a clear description of your issue?

Are the sample controls not working for you?

Thanks!

[2019-09-18 05:46] frozenthrone commented on #48
Hi @josejuanqm

the table is manually added on top to show channel lists,
the gesture is only working when controls are showing(the above picture)
here is the screenshot, the left side is tableview

![IMG_3347.PNG](https://i.loli.net/2019/09/18/U6DsxWEwL4l9uHr.png)
![IMG_3346.PNG](https://i.loli.net/2019/09/18/5cSiQ1yTvNqLzrs.png)

[code]

[2019-09-18 05:57] josejuanqm commented on #48
Oh, ok, I understand.

There are two ways to go about this problem. VersaPlayer includes some gestures out of the box. This gesture recognizers can be found in
VersaPlayerControls -> VersaPlayerControlsCoordinator -> VersaPlayerGestureRecieverView

You could either implement his delegate: ** VersaPlayerGestureRecieverViewDelegate**, or disable the necessary gestures so that your's are received.

[2019-09-18 06:25] frozenthrone commented on #48
thanks! @josejuanqm

[2019-09-18 06:25] #48 closed

[2019-09-18 10:13] ahmedMaher3 commented on #49
Hi @josejuanqm  iknow that no default controls but idont know how to add controls to my player
are you add it by storyBoard or progamatically .
sorry for late for reply

[2019-10-04 15:34] Koronaa commented on #43
Hey @josejuanqm ,

Any update on this?

Awesome library btw. Keep up the good work.

[2019-10-16 21:38] Ezimetjan opened #50 "Video Keeps playing in Background after dismissing the ViewController"
When you enter fullscreen mode and back to normal mode.  then you dismiss or pop the viewController Player keeps playing in the background which leads me to think the playerView is not released from Memory.  This happens with the provided TestProject.
I think there is a retain cycle issue with the  "nonFullscreenContainer"  property,  making it weak solved the problem for me.

[2019-10-17 07:29] RajChanchal opened #51 "Not scrolling if put in scrollview after VideoPlayerControls disappears"
If I put VersaPlayer in scrollview, and if VideoPlayerControls view disappears, the scrolling doesn't work if the drag gesture starts from player's view. It does work if the dragging finger doesn't start from player but some other components of the scrollview.

It does also work, if the controls are visible, as soon as they disappear, the scrolling no more works.

[2019-10-19 10:57] krtliv commented on #9
same problem here, i have a small view of VersaPlayer inside a xib  after you press fullscreen the player cannot return back to the original constraints-frame.

[2019-10-19 20:20] krtliv commented on #48
hi, can @frozenthrone  did you solved the gesture problem? i try to add some swipe gestures and i have the same problem ,

i cant understand how to add swipe gestures inside player view , i checked the VersaPlayerGestureRecieverViewDelegate but it has only tap, double tap , pinch and pan gestures.

EDIT

i found a way by disabling all gestures, if there is a better way to add swipe gesture please

[2019-10-22 04:33] josejuanqm commented on #9
@adaminspaceship , @krtliv is the initial view removed from its superview?

[2019-10-22 04:34] josejuanqm commented on #51
@RajChanchal please confirm whether disabling the pan gesture fixes the issue.

[2019-10-22 04:35] josejuanqm commented on #50
thank you! care to do a pr? @Ezimetjan

[2019-10-22 04:50] Ezimetjan commented on #50
I just submitted a pull request.

[2019-10-22 04:50] #50 closed

[2019-10-31 00:09] hbmartin opened #53 "TV test app crashes on launch in tvOS 13"
The sample TV app crashes on launch, with an error that seems nib related:
[code]

[2019-11-07 09:34] dev-dubaisoftwaresolutions commented on #51
You meant if there is a pen gesture attributed to VersaPlayer class?
If it was meant for scrollview I am using, then I don't want to disable pen gesture because I want the scrollview to scroll.

[2019-11-07 09:36] RajChanchal commented on #51
You meant to say there is a pen gesture attributed to VersaPlayer class?
If it was meant for scrollview I am using, then I don't want to disable pen gesture because I want the scrollview to scroll.
But if there a pen gesture associated to something else, please let me know so that I can disable it.

[2019-11-07 11:49] RajChanchal commented on #51
@josejuanqm I dug into the code and realized that disabling the pan gesture fixes the issue.

While instantiating the player view, I do the following:

[code]

Is it the correct way or there is some other way to remove a particular gesture?

[2019-11-08 01:17] josejuanqm commented on #51
Hey @RajChanchal ,

There is no current way of removing the gesture easier. I'll try working on something this week.
In the meantime, does this fixes your issue?

Thanks!

[2019-11-08 05:42] RajChanchal commented on #51
Hello @josejuanqm , yes it fixed my issue. Usually the use case is, you can put the player in tableview cells and they are prone to be scrolled.
If a video is playing and you want to scroll, it is impossible currently because the pan gesture is being consumed. Thanks for looking at it this week.

[2019-11-21 18:59] LastSoul commented on #43
i have the same problem

[2019-11-21 19:02] #51 closed

[2019-11-21 19:37] josejuanqm commented on #43
Hi everyone, thank you for your patience. This was a mix of unreleased code changes and a minor update.

New version is published.

Please re-open this ticket as needed

[2019-11-21 19:37] #43 closed

[2019-11-21 19:37] #23 closed

[2019-11-24 11:05] RajChanchal commented on #51
@josejuanqm have you resolved it in the new update?

[2019-11-26 05:20] dev-dubaisoftwaresolutions opened #54 "Crashes sometimes"
App crashes sometimes, attached is the screenshot from stack trace.
Any help?
![Screen Shot 2019-11-26 at 9 19 19 AM](https://user-images.githubusercontent.com/42694125/69601546-e6349580-102d-11ea-8d13-cc19d39bb28b.png)

[2019-12-06 10:21] RajChanchal commented on #54
Same happened after the recent update of the repo as well

<img width="529" alt="Screen Shot 2019-12-06 at 2 20 13 PM" src="https://user-images.githubusercontent.com/7058465/70315748-b35f7e00-1833-11ea-89b9-00980744e2fa.png">

[2019-12-06 20:07] josejuanqm commented on #54
Tentatively fixed by version 3.0.2. Please verify. And thank you both!

[2019-12-06 20:09] josejuanqm commented on #53
Hi @hbmartin ,

Ive pushed some changes to avoid this to happen on the sample project.

Thanks!

[2019-12-06 20:09] #53 closed

[2019-12-06 20:11] josejuanqm commented on #49
Hi @ahmedMaher3 ,

Controls can be added either by storyboard or programmatically, If you are to add them via storyboard you can create a UIView (you can check the sample project) and connect the player outlet to that view. Or create that view programmatically using VersaPlayerControls Class and add that to the player with `player.add(controls:)`

[2019-12-06 20:11] #49 closed

[2019-12-06 20:14] josejuanqm commented on #46
Closing due to inactivity

[2019-12-06 20:14] #46 closed

[2019-12-06 20:14] josejuanqm commented on #45
Closing due to inactivity

[2019-12-06 20:14] #45 closed

[2019-12-12 12:29] StackHelp opened #55 "Mute/Unmute?"
How to mute/unmute player? Is there any control there for it?

[2019-12-12 18:13] josejuanqm commented on #55
Hi @StackHelp ,  I've created this feature in a dev branch `enhancement/mute` , let me know if this works for you so that I can merge and update the pod.

[2019-12-13 04:03] StackHelp commented on #55
Yeah great. Thanks. Can we also have the property in the player class, so we can also mute/unmute without button as well? Is it possible? The one more thing, Is there any label that gives us remaining time? like one is total time, other is one for current time. so, Is there any for remaining time?

[2019-12-13 05:02] StackHelp opened #57 "Crash found on label `currentTimeLabel?.update`"
Whenever I tried to play video, It aways crashed on line `currentTimeLabel?.update`, VersaPlayerControls, line number 128. Here are some screenshot related to that

![Screenshot 2019-12-13 at 10 26 08 AM](https://user-images.githubusercontent.com/41230403/70770552-db9b2f80-1d93-11ea-8345-24b0298d4d8b.png)
![Screenshot 2019-12-13 at 10 28 58 AM](https://user-images.githubusercontent.com/41230403/70

[2019-12-13 05:05] josejuanqm commented on #57
Hi,

Does this happen on the example project? Also, Can you post the version of Xcode and iOS (or any other os) you're using?

Thanks

[2019-12-13 05:05] josejuanqm commented on #55
You can use the VersaPlayerView to toggle the mute.

As of right now there is no remaining time label. I can work on that tomorrow.

[2019-12-13 05:06] StackHelp commented on #57
@josejuanqm No, but its the same way I made the outlet for labels

[2019-12-13 05:07] StackHelp commented on #55
ok. Thanks  @josejuanqm

[2019-12-13 05:10] StackHelp commented on #57
@josejuanqm  Ohhh!! I found the issue. I have set the outlets but not give a class to the label. Sorry about that. Anyway great Video player :) And Hope caching will come soon in this SDK.

[2019-12-13 05:10] #57 closed

[2019-12-13 05:11] josejuanqm commented on #16
This have been added.

[2019-12-13 05:11] #16 closed

[2019-12-13 05:12] josejuanqm commented on #57
Thanks a lot! Will try to work on that soon!

[2019-12-13 20:52] #20 closed

[2019-12-13 20:52] #28 closed

[2019-12-13 20:52] #37 closed

[2019-12-13 20:52] #40 closed

[2019-12-13 20:52] #44 closed

[2019-12-13 20:52] #41 closed

[2019-12-13 20:52] #9 closed

[2020-01-12 21:30] #54 closed

[2020-01-14 03:30] m3u8playlist opened #58 "add faster speed playback"
Hi developer
do you have any plan to add faster speed playback option?
like 1.0x(original speed), 1.2x,1.5x, etc. speed to playback m3u8 videos

[2020-01-18 12:24] Sunny-Aiub opened #60 "is there any way to open the video in fullscreen on landscape mode?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-19 05:39] #55 closed

[2020-01-19 05:39] #42 closed

[2020-03-02 10:05] StackHelp opened #61 "Is it possible to set more height for player controls than the player view?"
Is it possible to set more height for player controls than the player view? I have attached a screenshot where you can see the player view is that black background colored part above pink one and above there is controls setup with more height that extends till pink color starting from player view top. The problem is with the setup is touch isn't repond on that pink part but responds on playerview

[2020-03-02 16:20] josejuanqm commented on #58
Hi @m3u8playlist , are you talking about streams, or local files?

[2020-03-02 16:21] josejuanqm commented on #61
Hi @StackHelp , Yes, the controls view is independent from the rendering view, so you can have the controls view detached from the player view completely (ui-wise).

However you might find yourself wanting to use a different behaviour that the default one for buffering and showing / hiding controls.

[2020-03-02 16:23] josejuanqm commented on #60
hi @Sunny-Aiub , there is no such implementation in the current library. this has to be implemented by the dev.

[2020-03-02 16:23] #60 closed

[2020-03-03 02:11] m3u8playlist commented on #58
online m3u8 , like movie or tv episode
https://shuixian.nihaozuida.com/20200229/867_443e38a8/index.m3u8

[2020-03-03 04:28] StackHelp commented on #61
@josejuanqm its completely independent right now like in screenshot its above `player View`. But somehow none of the buttons from the pink part works (By independent means? any Example to used it like that) and I also don't want to hide controls even on touch. I used `playerControls.behaviour.shouldHideControls = false` but it still hides on touch.

[2020-03-09 18:37] josejuanqm commented on #61
hmmm, is there a chance you can send over a sample project?

[2020-03-09 18:39] josejuanqm commented on #58
Yes, you could access the internal player and use the speed parameter. will try to put this on the controls, although the ui is something that you should implement. If the stream is a livestream this wont work though.

[2020-03-10 14:38] cemalsayin opened #63 "How to create controls as programmatically?"
Hi, I didn't use storyboard for create my video view, i've create view as programmatically. I can create video player with code and i can play video with that library. However i can't create controls with code how to create controls as programmatically?

[2020-03-12 09:14] cemalsayin commented on #9
I saw same bug, i changed official example project's player frames and yes when click fullscreen button for turn back my view(close full screen mode) it didn't.

[2020-03-16 08:06] StackHelp commented on #61
@josejuanqm I managed to work this out by some awkward steps like use the controls view for black area same as example project and on other buttons, I just assigned to player view.

[code]

however, on `fullscreenButton`, I got a crash for nil `handler`
`VersaPlayer/VersaPlayer/Classes/Source/VersaPlayerControls/VersaPlayerControls.swift, line 371`

[2020-03-18 16:50] FitzAfful opened #64 "Unable to play local file"
Does this support playing a file from file system?

My file URL: file:///Users/gerald/Library/Developer/CoreSimulator/Devices/28694CEC-DEE0-4E95-9302-F3962DDC63B6/data/Containers/Data/Application/620DDA30-4A41-484D-AED5-9FB334C1E9F2/Library/Caches/MyApp/28.mp4

I've tried ...
` if let url = URL.init(string: movieFile.filename) {
let asset = AVURLAsset(url: url)
let item = VersaPlayerItem(asset: as

[2020-03-22 17:23] josejuanqm commented on #61
hmmm, let me test this and get back to you.

[2020-04-01 09:24] gurhub commented on #53
Hi, still the same issue exists in the example project.

Best

[2020-04-02 21:52] hbmartin commented on #53
I am getting `VersaPlayerTest_tvOS[10533:4896726] [Storyboard] Unknown class _TtC20VersaPlayerTest_tvOS15VersaPlayerView in Interface Builder file.`

[2020-04-09 17:13] mrsniperz opened #65 "Can not toggle the fullscreen and how to replay?"
**Describe the bug**
After I press the fullscreen button I can't toggle it back to normal screen.

**To Reproduce**
![image](https://user-images.githubusercontent.com/35944209/78921662-d0e57280-7ac7-11ea-9cc9-61d4b63fbb47.png)
When i toggle the fullscreen button, it gives the message as in the image .

Another question is when it finished how to replay it through press some button?

[2020-04-15 19:32] #58 closed

[2020-04-16 16:05] #63 closed

[2020-04-21 20:25] anilchandel commented on #61
Is it possible to set more height of PlayerView and play video. automatically landscape. and also possible  to set the video quality.

[2020-04-24 17:16] #64 closed

[2020-04-25 13:16] kunwar231 opened #66 "Could not cast value of type 'CALayer' to 'AVPlayerLayer'. Crash"
Could not cast value of type 'CALayer' (0x7fff84dce660) to 'AVPlayerLayer' (0x7fff84af1118).
in VersaPlayerRenderingView.swift

[2020-05-16 17:23] #65 closed

[2020-05-28 21:22] #61 closed

[2020-06-01 15:28] #66 closed

[2020-06-25 08:45] Eratos1122 opened #67 "Auto Play Disable Not Working"
VersaPlayerView autoplay = false is not working

[2020-06-25 14:22] niftykurian opened #68 "Setting the quality of the video playback depending on network speed"
**Is your feature request related to a problem? Please describe.**
Hi, This library is great. Thanks!
Many parts of the world, the network speed is very slow, and there is no option to set the quality of the video played

**Describe the solution you'd like**
Set the quality of the video playback depending on network speed/ option to change the quality.

[2020-07-03 15:43] Eratos1122 commented on #29
![Screen Shot 2020-07-03 at 11 42 23 AM](https://user-images.githubusercontent.com/37297413/86483553-4907b100-bd22-11ea-8af8-1bbb54351032.png)
It is crashed when a new video player is opened

[2020-07-03 15:52] Eratos1122 commented on #29
Still crash

[2020-07-06 03:24] Eratos1122 commented on #29
I fixed it by using the updated one

`pod 'VersaPlayer', :git => 'https://github.com/mobile-davinder/VersaPlayer.git'`

It would be helpful for you 🙏

[2020-07-27 19:10] josejuanqm commented on #68
Hi @niftykurian , are you using tracks to switch them? You might need to provide the proper tracks in each bitrate.

[2020-07-27 19:11] josejuanqm commented on #67
Hi, @Eratos1122 I'll try to test this in the next few days. My computer broke down and I havent been able to be very active on this

[2020-08-02 01:13] wertpoiu opened #70 "tvOS Demo crashing"
As title states tvos demo crashing

[2020-08-05 10:03] AhmedAbdeen11 commented on #65
I'm facing same issue. Did you manage to solve it?

[2020-09-02 20:43] #68 closed

[2020-09-02 20:43] #67 closed

[2020-09-08 02:18] #70 closed

[2020-09-08 06:48] prashantkamal opened #71 "crash with error Thread 1: EXC_BAD_ACCESS (code=2, address=0x1f3ddb668) on playerView.set(item: item)"
error on
playerView.set(item: item)

[2020-09-08 07:14] #71 closed

[2020-09-13 16:47] Edgy1337 commented on #55
Re-open?

[2020-09-26 13:18] gouravideal opened #72 "TV test app crashes on launch"
Could not cast value of type 'CALayer' (0x7fff84dce660) to 'AVPlayerLayer' (0x7fff84af1118).
![Screenshot 2020-09-26 at 6 47 36 PM](https://user-images.githubusercontent.com/61136324/94341664-c80e3c00-0028-11eb-9da7-fa3aa3b311f7.png)

[2020-09-29 13:53] gouravideal commented on #72
@josejuanqm can you please solution for this issue i want to use this for TVOS

[2020-10-08 14:35] fadizant commented on #68
I have the same issue here. it's will be helpful if we have control of quality and auto-switch when we have a slow internet connection.
this example video has multi quality: https://content.jwplatform.com/manifests/yp34SRmf.m3u8
you can see it from here: https://www.jwplayer.com/developers/stream-tester/

![image](https://user-images.githubusercontent.com/13743626/95473336-ac8e2400-098c-11eb-88f9-

[2020-10-08 19:01] fadizant commented on #9
To avoid this issue you have to add VersaPlayerView inside other view and add all edges constrains to new superview

![image](https://user-images.githubusercontent.com/13743626/95501860-9e063380-09b1-11eb-949e-69cb1b9b2366.png)

[2020-10-08 19:01] fadizant commented on #65
To avoid this issue you have to add VersaPlayerView inside other view and add all edges constrains to new superview

![image](https://user-images.githubusercontent.com/13743626/95501907-aeb6a980-09b1-11eb-8bc4-dc4efd9b6ef2.png)

[2020-10-19 21:38] Marware commented on #72
This is fixed here by removing #if os(iOS) directive

[2020-10-22 05:57] shamdass opened #74 "How to create custom view on video player"
I am making video player in swift. I add some custom buttons and functionality for standard video player: 1. Playing video from URL (server) 2. Showing indicator while loading video like in VK 3. Add custom buttons to control (stop, pause buttons) and its working fine. I'm trying to implement custom view on player like below screen shot and play in custom duration in loop.

I need this type of vie

[2020-10-29 13:04] pharshdev opened #75 "Error when embedding player in SwiftUI"
Using below snippet to embed the player in SwiftUI
[code]

**Bug**
Running on AppleTV 4K, the player view opens with a black screen with no activity in the logs or on screen. No controls are visible on swiping on appletv remote. Pressing play/pause button throws ```Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value```

**Device:**
 - Device: AppleTV 4K
 - OS: tvOS 14

[2020-11-07 17:45] josejuanqm commented on #75
Hi @pharshdev , could you share a sample project as well?

[2020-11-10 07:07] pharshdev commented on #75
There's nothing fancy that I'm doing but here I quickly created a sample project for you to test [repo](https://github.com/pharshdev/VersaTVTest)

[2020-11-13 15:45] josejuanqm commented on #75
Will check this out 👍  Thank you!

[2020-12-01 23:25] reyesmfabian commented on #72
Was anyone able to solve the problem indicated by @gouravideal ? I have the same problem, the application compiles correctly but when I open a URL the error is shown.

[2020-12-01 23:27] reyesmfabian commented on #66
Was anyone able to solve the problem indicated by @kunwar231? I have the same problem, the application compiles correctly but when I open a URL the error is shown.

[2020-12-31 03:19] kaisian97 opened #81 "Q&A, how to display the audio track control?"
Hello, I am relatively new to Swift and have no experience with it. Currently, I am looking for a multi-audio track video player and I found this repo. The demo works fine, I can get the audio tracks info with the video I provided but how to display audio track control into the UI.

[2021-01-03 00:47] josejuanqm commented on #74
Are you referring to the audio stream of the video itself?

[2021-01-03 00:48] josejuanqm commented on #81
You need to provide a custom view for this, VP wont provide default ui 😔

[2021-01-20 01:05] #75 closed

[2021-01-25 13:41] Mitesh-Mewada opened #82 "Did Update time"
Hey @josejuanqm great tutorial I used in my app

I have face issue with how to get player current did updated time actually want to call some other function at I scheduled time I try more time did't get success

also I want to play video with Seek time
can you Please Help me

Thanks.

[2021-02-08 00:25] #72 closed

[2021-02-19 19:15] thesmartrenovation opened #83 "Play MKV files"
is there any way to play MKV files with this player? i'm trying in SwuiftUi but it doesn't work.

[2021-03-12 00:28] #74 closed

[2021-03-12 00:28] #81 closed

[2021-03-18 19:06] AndrewSB opened #84 "Using controls without IB"
Hey! I'm doing programmatic layout for my video views, I cannot figure out how to make the controls show up on my instance at all

latest one is

[code]

I've even added a tap gesture recognizer to the view, that calls things like
[code]

to no avail. I've seen a few past issues on the repo, but nothing that gives a definite answer. got any tips for me? is there a magic IB `load` I need to call be

[2021-04-06 00:11] #82 closed

[2021-04-29 00:11] #83 closed

[2021-05-03 07:57] naveenjangra2 opened #87 "Google Cast"
Is there any way to integrate google cast ?

[2021-05-08 10:52] gbesler commented on #87
Anyone has experience on this?

[2021-05-18 18:47] AndrewSB commented on #84
un-stale

[2021-05-21 13:13] yugochen opened #88 "tableview Multiple videos"
May I have multiple videos in the tableview
How to watch the first video After clicking the second video, the first video stops playing
And so on ...thk

[2021-05-26 00:55] #84 closed

[2021-05-26 05:42] AndrewSB commented on #84
re-open please. this hasn't been solved

[2021-06-18 10:20] Disha896 opened #89 "Hello,"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-06-18 10:29] Disha896 opened #90 "Facing one crash while i try to use VersaPlayerControls"
private func checkOwnershipOf(object: Any?, completion: @autoclosure ()->()?) {
      guard let ownerPlayer = object as? VersaPlayer else { return }
      if ownerPlayer.isEqual(handler?.player) {
        completion()
      }
    }

I have added versaplayerview in one XIB and added versaplayercontrs ciew in View controller and connected with outlets to viewcontroller.
My app is getting crashed at

[2021-06-18 11:52] #89 closed

[2021-06-26 14:54] jbhavin opened #91 "VersaPlayer - Youtube Video Link"
**Describe the bug**
is this player support youtube video?

**To Reproduce**
Copy paste youtube video link and try to play. its loading only.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [iPad]
 - OS: [ios 14

[2021-07-15 00:37] #87 closed

[2021-07-29 00:36] #88 closed

[2021-08-18 13:29] josejuanqm commented on #90
Hi @Disha896 could you share the stack trace?

[2021-09-02 00:38] #91 closed

[2021-10-04 17:59] Alanko5 opened #93 "Q: Is support HDR and Dolby Vison?"
is HDR mode supported for tvOS?

[2021-10-06 12:55] reinaldoriant opened #94 "implement to swiftui"
Can this implement to swiftui?

[2021-10-27 15:05] prosenjitBeas opened #95 "Auto hide controls"
playerView.controls?.behaviour.shouldAutohide not found.

[2021-12-12 00:45] #93 closed

[2021-12-14 00:45] #94 closed

[2022-01-04 00:45] #95 closed

[2022-01-18 16:22] tzahico opened #96 "macOS Catalina support"
Hello,

Thank you for your great work on VersaPlayer.

We think that there's an issue with macOS Catalina playing M3U8 files - all other formats that we checked worked well.  This is the code that we use:

	if let url = URL.init(string: "https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8") {
        	    let avAsset = AVURLAsset(url: url, options: nil)
	            let item = VersaPla

[2022-01-31 08:33] jakhongir97 opened #97 "Package.swift has no Package.swift manifest"
Package.swift has no Package.swift manifest

[2022-02-01 14:21] uzman commented on #67
You should set autoplay before setting item.
[code]

[2022-02-03 09:41] uzman opened #98 "Animate while toggling fullscreen mode"
When I click the fullscreen button, it changes the player's frame to fullscreen immediately.
How can i animate while toggling fullscreen?

[2022-03-03 05:51] evyasafm opened #99 "Picture in Picture Support"
Can you please add support for Picture in Picture?

[2022-03-27 00:59] #96 closed

[2022-03-29 07:56] NikhilGangurde commented on #99
any updates on this.

[2022-04-09 00:58] #97 closed

[2022-04-12 00:58] #98 closed

[2022-04-20 09:23] Dev-Abdul opened #100 "VersaPlayer/VersaPlayerControls.swift:129: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
There is an issue that occurs in playback video from the continued cell. The app was crashed by implicitly unwrapping an Optional value of ( "public weak var handler: VersaPlayerView!"). please help me sort this issue for playback video from the last value using "timeDidChange" method.

![Screenshot 2022-04-20 at 1 59 44 PM](https://user-images.githubusercontent.com/76912554/164185753-bbd0a954-d84

[2022-04-21 12:47] #100 closed

[2022-04-21 12:47] Dev-Abdul commented on #100
its solved

[2022-04-27 07:19] khatri6168 commented on #99
Hello can you please add support for Picture in Picture?

[2022-05-26 05:54] NikhilGangurde commented on #51
Any solution on this one I am still facing a similar issue on collection view
and @josejuanqm 's solution is not working for me.

[2022-05-26 05:58] NikhilGangurde commented on #51
Worked for me as well👍🏻

[2022-05-26 12:06] NikhilGangurde opened #101 "video player corner radius"
how to change or apply corner radius to player?

[2022-06-08 07:25] NikhilGangurde opened #102 "Add cache support and preload video urls"
**_This library is great, Everything easy sorted out and easy to use_**
So I need these features

### **Is your feature request related to a problem? Please describe:**
I am developing an app like TikTok where multiple videos will be played and users can scroll through all videos, So when users will scroll up and down it should be smooth for that I require cache support and video preload.

### **D

[2022-08-11 01:10] #101 closed

[2022-08-15 01:20] #102 closed

[2022-11-23 11:58] Samouker opened #104 "fullscreenButton"
**Describe the bug**
toggle fullscreen is not working.